{% extends 'dashboard/base.html' %}
{% load static %}

{% block extra_styles %}
<!-- Custom styles for this page -->
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock extra_styles %}

{% block content %}

<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">Transactions</h1>

<!-- DataTables Transactions -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Transactions</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Beneficiary</th>
                    <th>Transaction Ref</th>
                    <th>Beneficiary Account</th>
                    <th>Amount</th>
                    <th>Fee</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Type</th>
                    <th>Beneficiary</th>
                    <th>Transaction Ref</th>
                    <th>Beneficiary Account</th>
                    <th>Amount</th>
                    <th>Fee</th>
                    <th>Date</th>
                </tr>
            </tfoot>
            <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.get_transaction_type_display }}</td>
                        <td>{{ transaction.beneficiary }}</td>
                        <td>{{ transaction.transaction_ref }}</td>
                        <td>{{ transaction.beneficiary.beneficiary_account }}</td>
                        <td>{{ transaction.transaction_amount }}</td>
                        <td>{{ transaction.transaction_fee }}</td>
                        <td>{{ transaction.transaction_date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>

{% endblock content %}

{% block extra_scripts %}
<!-- Page level plugins -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock extra_scripts %}